<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link "  routerLink="/" routerLinkActive="active">Home </a>
      <a class="nav-item nav-link"  routerLink="/products" routerLinkActive="active">Products</a>
    </div>
  </div>
</nav>
