
<div class="container">
  <div class="row" >
    <div class="col">
      <img class="group list-group-image" src="http://lorempixel.com/400/200/technics/1" alt=""/>
    </div>
    <div class="col">
      <div class="row" >
        <span class="product-title">
        APPLE iPad 9.7 WiFi 32 GB MPGT2FD/A
        </span>
      </div>
      <div class="row" >
        <span class="product-price">
           $1,999.99
        </span>
       </div>
      <div class="row"></div>
      <div class="row" >
        <a class="btn btn-success ">Add do cart</a>
      </div>
    </div>
  </div>
  <div class="row" >
    <div class="col">
    <p-accordion>
      <p-accordionTab header="Features" [selected]="true">
        <table class="table table-striped">
          <tbody>
          <tr>
            <th scope="row">Name</th>
            <td>Sony</td>
          </tr>
          <tr>
            <th scope="row">Lens</th>
            <td>90mm</td>
          </tr>
          <tr>
            <th scope="row">Battery</th>
            <td>3000mah</td>
          </tr>
          </tbody>
        </table>
      </p-accordionTab>
      <p-accordionTab header="Reviews">
        <div class="row " >
          <p-dialog header="Add a review" [(visible)]="display">
              <div class="form-group">
                <label for="exampleInputDescription">Description</label>
                <input type="text" class="form-control" id="exampleInputDescription"  placeholder="Enter description">
              </div>
              <div class="form-group">
                <label for="exampleTextarea">Review content</label>
                <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
              </div>
              <button class="btn review ">Submit</button>
          </p-dialog>
          <a class="btn review " (click)="showDialog()"> Add review</a>
        </div>
        <div class="row" >
          <p-fieldset [toggleable]="false" >
            <p-header>Great product</p-header>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </p-fieldset>
          <p-fieldset [toggleable]="false" [collapsed]="false" [styleClass]="review-body">
            <p-header>Nice but ...</p-header>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </p-fieldset>
          <p-fieldset [toggleable]="false" [collapsed]="false">
            <p-header>Not recommending</p-header>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </p-fieldset>
        </div>
      </p-accordionTab>
      <p-accordionTab header="You may also like">
        <div class="card-columns">
          <div class="card"  >
            <div class="card-block">
              <img class="img-responsive" src="http://lorempixel.com/400/200/technics/5" alt=""/>
              <div class="caption">
                <h4 class="group inner list-group-item-heading">
                  Ear phones
                 </h4>
                <p class="group inner list-group-item-text">
                </p>
                <div class="row">
                  <div class="col-xs-12 col-md-6">
                    <p class="lead">
                     </p>
                  </div>
                  <div class="col-xs-12 col-md-6">
                    <a class="btn btn-success" routerLink="/product-details/21" routerLinkActive="active">View</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </p-accordionTab>
    </p-accordion>
    </div>
  </div>
</div>


