img {
  margin-bottom:10px;
}
.table {
  margin:10px;
}
.product-title {
  font-weight: bold;
  font-size: 22px;
}
.product-price {
  font-weight: bold;
  font-size: 16px;
  color:darkgray;
}

a.btn-success {
  margin-top:20px;
  font-weight: bold;
  font-size: 16px;
  color:azure;
}

a.btn-success:hover {

  font-weight: bold;
  font-size: 16px;
  color:azure;
  cursor:pointer;
}



.btn.review,.btn.review:hover{
  background-color: #5cb85c;
  margin-bottom:20px;
  font-weight: bold;
  font-size: 16px;
  color:azure;
  cursor:pointer;

}
.review_body{
  color:yellow;
}
.right{
  float:right;
}

img {
  max-height: 100%;
  max-width: 100%;
}
fieldset.scheduler-border {
  border: solid 1px #DDD !important;
  padding: 0 10px 10px 10px;
  border-bottom: none;
}

legend.scheduler-border {
  width: auto !important;
  border: none;
  font-size: 14px;
}
