<div class="card-columns">
  <div class="card"  *ngFor="let product of products">
    <div class="card-block">
      <img class="img-responsive" [src]="product.image" alt=""/>
      <div class="caption">
        <h4 class="group inner list-group-item-heading">
          {{product.name}}</h4>
        <p class="group inner list-group-item-text">
          {{product.description}}</p>
        <div class="row">
          <div class="col-xs-12 col-md-6">
            <p class="lead">
              {{product.price}}</p>
          </div>
          <div class="col-xs-12 col-md-6">
            <a class="btn btn-success" routerLink="/product-details/21" routerLinkActive="active">View</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
