legend {
  width: auto !important;
  border: none;
  font-size: 14px;
  color:crimson;
}
fieldset.ui-widget-content{
  background-color: whitesmoke;
  width: 1080px;
}

a.btn.btn-review,a.btn.btn-review:hover{
  font-weight: bold;
  color: azure;
  background-color: #5cb85c ;
  border-color: #5cb85c;
  margin:20px;
  cursor:pointer;
}
